In [5]:
import tensorflow as tf
import pandas as pd

In [11]:
file_path = 'data/1114147.csv'
df_raw_data = pd.read_csv(file_path, encoding="ISO-8859-1", low_memory=False)

In [12]:
df_raw_data.keys()

Index(['STATION', 'STATION_NAME', 'ELEVATION', 'LATITUDE', 'LONGITUDE', 'DATE',
       'REPORTTPYE', 'HOURLYSKYCONDITIONS', 'HOURLYVISIBILITY',
       'HOURLYPRSENTWEATHERTYPE', 'HOURLYDRYBULBTEMPF', 'HOURLYDRYBULBTEMPC',
       'HOURLYWETBULBTEMPF', 'HOURLYWETBULBTEMPC', 'HOURLYDewPointTempF',
       'HOURLYDewPointTempC', 'HOURLYRelativeHumidity', 'HOURLYWindSpeed',
       'HOURLYWindDirection', 'HOURLYWindGustSpeed', 'HOURLYStationPressure',
       'HOURLYPressureTendency', 'HOURLYPressureChange',
       'HOURLYSeaLevelPressure', 'HOURLYPrecip', 'HOURLYAltimeterSetting',
       'DAILYMaximumDryBulbTemp', 'DAILYMinimumDryBulbTemp',
       'DAILYAverageDryBulbTemp', 'DAILYDeptFromNormalAverageTemp',
       'DAILYAverageRelativeHumidity', 'DAILYAverageDewPointTemp',
       'DAILYAverageWetBulbTemp', 'DAILYHeatingDegreeDays',
       'DAILYCoolingDegreeDays', 'DAILYSunrise', 'DAILYSunset', 'DAILYWeather',
       'DAILYPrecip', 'DAILYSnowfall', 'DAILYSnowDepth',
       'DAILYAverageStationPressure', 'DAILYAverageSeaLevelPressure',
       'DAILYAverageWindSpeed', 'DAILYPeakWindSpeed', 'PeakWindDirection',
       'DAILYSustainedWindSpeed', 'DAILYSustainedWindDirection',
       'MonthlyMaximumTemp', 'MonthlyMinimumTemp', 'MonthlyMeanTemp',
       'MonthlyAverageRH', 'MonthlyDewpointTemp', 'MonthlyWetBulbTemp',
       'MonthlyAvgHeatingDegreeDays', 'MonthlyAvgCoolingDegreeDays',
       'MonthlyStationPressure', 'MonthlySeaLevelPressure',
       'MonthlyAverageWindSpeed', 'MonthlyTotalSnowfall',
       'MonthlyDeptFromNormalMaximumTemp', 'MonthlyDeptFromNormalMinimumTemp',
       'MonthlyDeptFromNormalAverageTemp', 'MonthlyDeptFromNormalPrecip',
       'MonthlyTotalLiquidPrecip', 'MonthlyGreatestPrecip',
       'MonthlyGreatestPrecipDate', 'MonthlyGreatestSnowfall',
       'MonthlyGreatestSnowfallDate', 'MonthlyGreatestSnowDepth',
       'MonthlyGreatestSnowDepthDate', 'MonthlyDaysWithGT90Temp',
       'MonthlyDaysWithLT32Temp', 'MonthlyDaysWithGT32Temp',
       'MonthlyDaysWithLT0Temp', 'MonthlyDaysWithGT001Precip',
       'MonthlyDaysWithGT010Precip', 'MonthlyDaysWithGT1Snow',
       'MonthlyMaxSeaLevelPressureValue', 'MonthlyMaxSeaLevelPressureDate',
       'MonthlyMaxSeaLevelPressureTime', 'MonthlyMinSeaLevelPressureValue',
       'MonthlyMinSeaLevelPressureDate', 'MonthlyMinSeaLevelPressureTime',
       'MonthlyTotalHeatingDegreeDays', 'MonthlyTotalCoolingDegreeDays',
       'MonthlyDeptFromNormalHeatingDD', 'MonthlyDeptFromNormalCoolingDD',
       'MonthlyTotalSeasonToDateHeatingDD',
       'MonthlyTotalSeasonToDateCoolingDD'],
      dtype='object')

In [13]:
df_raw_data.head()

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,REPORTTPYE,HOURLYSKYCONDITIONS,HOURLYVISIBILITY,HOURLYPRSENTWEATHERTYPE,...,MonthlyMaxSeaLevelPressureTime,MonthlyMinSeaLevelPressureValue,MonthlyMinSeaLevelPressureDate,MonthlyMinSeaLevelPressureTime,MonthlyTotalHeatingDegreeDays,MonthlyTotalCoolingDegreeDays,MonthlyDeptFromNormalHeatingDD,MonthlyDeptFromNormalCoolingDD,MonthlyTotalSeasonToDateHeatingDD,MonthlyTotalSeasonToDateCoolingDD
0,WBAN:03813,MACON MIDDLE GA REGIONAL AIRPORT GA US,104.5,32.6847,-83.6527,2007-11-01 00:53,FM-15,NaN,10.00,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
1,WBAN:03813,MACON MIDDLE GA REGIONAL AIRPORT GA US,104.5,32.6847,-83.6527,2007-11-01 01:00,FM-12,CLR:00,9.94,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
2,WBAN:03813,MACON MIDDLE GA REGIONAL AIRPORT GA US,104.5,32.6847,-83.6527,2007-11-01 01:53,FM-15,NaN,7.00,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
3,WBAN:03813,MACON MIDDLE GA REGIONAL AIRPORT GA US,104.5,32.6847,-83.6527,2007-11-01 02:53,FM-15,NaN,7.00,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
4,WBAN:03813,MACON MIDDLE GA REGIONAL AIRPORT GA US,104.5,32.6847,-83.6527,2007-11-01 03:53,FM-15,NaN,7.00,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_raw_data.keys()

Index(['STATION', 'STATION_NAME', 'ELEVATION', 'LATITUDE', 'LONGITUDE', 'DATE',
       'REPORTTPYE', 'HOURLYSKYCONDITIONS', 'HOURLYVISIBILITY',
       'HOURLYPRSENTWEATHERTYPE', 'HOURLYDRYBULBTEMPF', 'HOURLYDRYBULBTEMPC',
       'HOURLYWETBULBTEMPF', 'HOURLYWETBULBTEMPC', 'HOURLYDewPointTempF',
       'HOURLYDewPointTempC', 'HOURLYRelativeHumidity', 'HOURLYWindSpeed',
       'HOURLYWindDirection', 'HOURLYWindGustSpeed', 'HOURLYStationPressure',
       'HOURLYPressureTendency', 'HOURLYPressureChange',
       'HOURLYSeaLevelPressure', 'HOURLYPrecip', 'HOURLYAltimeterSetting',
       'DAILYMaximumDryBulbTemp', 'DAILYMinimumDryBulbTemp',
       'DAILYAverageDryBulbTemp', 'DAILYDeptFromNormalAverageTemp',
       'DAILYAverageRelativeHumidity', 'DAILYAverageDewPointTemp',
       'DAILYAverageWetBulbTemp', 'DAILYHeatingDegreeDays',
       'DAILYCoolingDegreeDays', 'DAILYSunrise', 'DAILYSunset', 'DAILYWeather',
       'DAILYPrecip', 'DAILYSnowfall', 'DAILYSnowDepth',
       'DAILYAverageStationPressure', 'DAILYAverageSeaLevelPressure',
       'DAILYAverageWindSpeed', 'DAILYPeakWindSpeed', 'PeakWindDirection',
       'DAILYSustainedWindSpeed', 'DAILYSustainedWindDirection',
       'MonthlyMaximumTemp', 'MonthlyMinimumTemp', 'MonthlyMeanTemp',
       'MonthlyAverageRH', 'MonthlyDewpointTemp', 'MonthlyWetBulbTemp',
       'MonthlyAvgHeatingDegreeDays', 'MonthlyAvgCoolingDegreeDays',
       'MonthlyStationPressure', 'MonthlySeaLevelPressure',
       'MonthlyAverageWindSpeed', 'MonthlyTotalSnowfall',
       'MonthlyDeptFromNormalMaximumTemp', 'MonthlyDeptFromNormalMinimumTemp',
       'MonthlyDeptFromNormalAverageTemp', 'MonthlyDeptFromNormalPrecip',
       'MonthlyTotalLiquidPrecip', 'MonthlyGreatestPrecip',
       'MonthlyGreatestPrecipDate', 'MonthlyGreatestSnowfall',
       'MonthlyGreatestSnowfallDate', 'MonthlyGreatestSnowDepth',
       'MonthlyGreatestSnowDepthDate', 'MonthlyDaysWithGT90Temp',
       'MonthlyDaysWithLT32Temp', 'MonthlyDaysWithGT32Temp',
       'MonthlyDaysWithLT0Temp', 'MonthlyDaysWithGT001Precip',
       'MonthlyDaysWithGT010Precip', 'MonthlyDaysWithGT1Snow',
       'MonthlyMaxSeaLevelPressureValue', 'MonthlyMaxSeaLevelPressureDate',
       'MonthlyMaxSeaLevelPressureTime', 'MonthlyMinSeaLevelPressureValue',
       'MonthlyMinSeaLevelPressureDate', 'MonthlyMinSeaLevelPressureTime',
       'MonthlyTotalHeatingDegreeDays', 'MonthlyTotalCoolingDegreeDays',
       'MonthlyDeptFromNormalHeatingDD', 'MonthlyDeptFromNormalCoolingDD',
       'MonthlyTotalSeasonToDateHeatingDD',
       'MonthlyTotalSeasonToDateCoolingDD'],
      dtype='object')

In [20]:
df_num_subset = df_raw_data.iloc[:, 2:]

In [28]:
df_num_subset.DATE = pd.to_datetime(df_num_subset.DATE)

In [33]:
df_num_subset.DATE

0        2007-11-01 00:53:00
1        2007-11-01 01:00:00
2        2007-11-01 01:53:00
3        2007-11-01 02:53:00
4        2007-11-01 03:53:00
5        2007-11-01 04:00:00
6        2007-11-01 04:53:00
7        2007-11-01 05:53:00
8        2007-11-01 06:53:00
9        2007-11-01 07:00:00
10       2007-11-01 07:53:00
11       2007-11-01 08:53:00
12       2007-11-01 09:53:00
13       2007-11-01 10:00:00
14       2007-11-01 10:53:00
15       2007-11-01 11:53:00
16       2007-11-01 12:53:00
17       2007-11-01 13:00:00
18       2007-11-01 13:53:00
19       2007-11-01 14:53:00
20       2007-11-01 15:53:00
21       2007-11-01 16:53:00
22       2007-11-01 17:53:00
23       2007-11-01 18:53:00
24       2007-11-01 19:00:00
25       2007-11-01 19:53:00
26       2007-11-01 20:53:00
27       2007-11-01 21:53:00
28       2007-11-01 22:00:00
29       2007-11-01 22:53:00
                 ...
144050   2017-10-29 23:53:00
144051   2017-10-29 23:59:00
144052   2017-10-30 00:53:00
144053   2017-10-30 01:00:00
144054   2017-10-30 01:53:00
144055   2017-10-30 02:53:00
144056   2017-10-30 03:53:00
144057   2017-10-30 04:00:00
144058   2017-10-30 04:53:00
144059   2017-10-30 05:53:00
144060   2017-10-30 06:53:00
144061   2017-10-30 07:00:00
144062   2017-10-30 07:53:00
144063   2017-10-30 08:53:00
144064   2017-10-30 09:53:00
144065   2017-10-30 10:00:00
144066   2017-10-30 10:53:00
144067   2017-10-30 11:53:00
144068   2017-10-30 12:53:00
144069   2017-10-30 13:00:00
144070   2017-10-30 13:53:00
144071   2017-10-30 14:53:00
144072   2017-10-30 15:53:00
144073   2017-10-30 16:00:00
144074   2017-10-30 19:53:00
144075   2017-10-30 20:53:00
144076   2017-10-30 21:53:00
144077   2017-10-30 22:53:00
144078   2017-10-30 23:53:00
144079   2017-10-30 23:59:00
Name: DATE, Length: 144080, dtype: datetime64[ns]

In [39]:
# Trying to put the years more middle of the road here
df_num_subset['year_norm'] = (df_num_subset.DATE.dt.year - 2000) / 20
df_num_subset['month_norm'] = df_num_subset.DATE.dt.month / 12
df_num_subset['day_norm'] = df_num_subset.DATE.dt.day / 31
df_num_subset['time_norm'] = ((df_num_subset.DATE.dt.hour * 60) + df_num_subset.DATE.dt.minute) / 1440
df_num_subset['time_norm']

0         0.036806
1         0.041667
2         0.078472
3         0.120139
4         0.161806
5         0.166667
6         0.203472
7         0.245139
8         0.286806
9         0.291667
10        0.328472
11        0.370139
12        0.411806
13        0.416667
14        0.453472
15        0.495139
16        0.536806
17        0.541667
18        0.578472
19        0.620139
20        0.661806
21        0.703472
22        0.745139
23        0.786806
24        0.791667
25        0.828472
26        0.870139
27        0.911806
28        0.916667
29        0.953472
            ...
144050    0.995139
144051    0.999306
144052    0.036806
144053    0.041667
144054    0.078472
144055    0.120139
144056    0.161806
144057    0.166667
144058    0.203472
144059    0.245139
144060    0.286806
144061    0.291667
144062    0.328472
144063    0.370139
144064    0.411806
144065    0.416667
144066    0.453472
144067    0.495139
144068    0.536806
144069    0.541667
144070    0.578472
144071    0.620139
144072    0.661806
144073    0.666667
144074    0.828472
144075    0.870139
144076    0.911806
144077    0.953472
144078    0.995139
144079    0.999306
Name: time_norm, Length: 144080, dtype: float64

In [41]:
df_num_subset.REPORTTPYE.unique()

array(['FM-15', 'FM-12', 'SOD', 'FM-16', 'SY-MT', 'AUTO'], dtype=object)

In [3]:
tensorboard --logdir=/tmp/tensorflow/mnist/logs

SyntaxError: invalid syntax (<ipython-input-3-d9b2cfe45809>, line 1)